.header1{
  color:Orange;
  text-shadow:3px 1px purple;
  font-size: 50px;
  font-family: fantasy;
  position:absolute;
  top:-30px;
}
#header2{
  color:Orange;
  text-shadow: 1px 1px purple;
  font-size:30px;
  position:absolute;
  top:30px;
  font-family: cursive;
}
#para1{
  position:absolute;
  top:70px;
  font-family: monospace;
  font-size: 18px;
}
#list1{
  position: absolute;
  top:125px;
  left:-11px;
  font-family: monospace;
  font-size: 18px;
}
#basics{
  color:orange;
  font-family: monospace;
  text-shadow: 3px 1px purple;
}
#para2{
  position: absolute;
  top:50px;
  font-family:monospace;
  font-size:18px;
}
#home{
  height:50px;
  position:absolute;
  right:30px;
  top:14px;
}
#header3{
  color:Orange;
  text-shadow:3px 1px purple;
  font-size: 40px;
  font-family: fantasy;
  position:absolute;
  top:200px;
}
#para3{
  position: absolute;
  top:260px;
  font-family: monospace;
  font-size: 18px;
}
#turns{
  font-family: cursive;
  color: orange;
  text-shadow: 1px 1px purple;
  font-size:30px;
  position: absolute;
  top:150px;
}
#turnexplain{
  position: absolute;
  top:190px;
  font-family: monospace;
  font-size: 17px;
}
#carrot{
  height:250px;
  position: absolute;
  right:50px; 
  top:20px;
}
#atk{
  font-family: cursive;
  color: orange;
  text-shadow: 1px 1px purple;
  font-size:30px;
  position: absolute;
  top:330px;
}
#atkexplain{
  position: absolute;
  top:370px;
  font-family: monospace;
  font-size: 17px;
}
#hp{
  font-family: cursive;
  color: orange;
  text-shadow: 1px 1px purple;
  font-size:30px;
  position: absolute;
  top:465px;
}
#hpexplain{
  position: absolute;
  top:505px;
  font-family: monospace;
  font-size: 17px;
}
#def{
  font-family: cursive;
  color: orange;
  text-shadow: 1px 1px purple;
  font-size:30px;
  position: absolute;
  top:595px;
}
#defexplain{
  position: absolute;
  top:635px;
  font-family: monospace;
  font-size: 17px;
}
#dodge{
  font-family: cursive;
  color: orange;
  text-shadow: 1px 1px purple;
  font-size:30px;
  position: absolute;
  top:735px;
}
#dodgeexplain{
  position: absolute;
  top:775px;
  font-family: monospace;
  font-size: 17px;
}
#block{
  font-family: cursive;
  color: orange;
  text-shadow: 1px 1px purple;
  font-size:30px;
  position: absolute;
  top:980px;
}
#blockexplain{
  position: absolute;
  top:1025px;
  font-family: monospace;
  font-size: 17px;
}